/* You can add global styles to this file, and also import other style files */
.btnbox{
    cursor: pointer;
}
*{
  text-align: center;
  /* background-image: url('../src/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;  */
}

a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: white;
}
ul{
  margin-left: 33%;
}

li{
padding: 2%;
list-style-type: none;     
width:40%;
background-color: #e6e6e6;
border-radius: 6px;
} 
li:hover{
  background-color: #505050;
  color: white;
}