
<h1>District name : {{this.districtname}}</h1>
<br>
 <table class="table table-bordered">
     <tr>
         <td>Active Cases </td>
         <td> {{this.active}}</td>
     </tr>
     <tr>
         <td>Confirmed Cases </td>
         <td>{{this.confirmed}}</td>
     </tr>
     <tr>
        <td>Deceased  </td>
        <td>{{this.deceased}}</td>
    </tr>
  </table>

<!-- <h1>District name : {{this.districtname}}</h1>
<h3>Active Cases : {{this.active}}</h3>
<h3>Confirmed Cases : {{this.confirmed}}</h3>
<h3>Deceased : {{this.deceased}}</h3> -->
